<div class="row">
    <div class="col-sm-12">
        <!--<h1>سفرهای انجام شده</h1>-->
    </div>
</div>
<script type="text/ng-template" id="pagination.html">
    <nav ng-if="pages.length >= 2">
        <ul class="pagination">
            <li>
                <a ng-click="selectPage(1)">اول</a>
            </li>
            <li>
                <a ng-click="selectPage(currentPage - 1)">
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
            <li>
                <a> صفحه
                    <page-select></page-select>
                    از {{numPages}} </a>
            </li>
            <li>
                <a ng-click="selectPage(currentPage + 1)">
                    <i class="fa fa-angle-left"></i>
                </a>
            </li>
            <li><a ng-click="selectPage(numPages)">آخر</a></li>
        </ul>
    </nav>
</script>