<div class="row">
    <div class="col-sm-12">
        <form class="form" name="form" ng-submit="vm.register(form)" novalidate>
            <div class="row">
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
                        <label>نام</label>

                        <input name="name" class="form-control" ng-model="vm.user.name"
                               required/>
                        <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
                            نام را وارد کنید
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-success': form.mobile.$valid && vm.submitted,
                                            'has-error': form.mobile.$invalid && vm.submitted }">
                        <label>شماره موبایل</label>

                        <input name="mobile" class="form-control" ng-model="vm.user.mobile"
                               style="direction: ltr"
                               required
                               mongoose-error/>
                        <p class="help-block" ng-show="form.mobile.$error.mobile && vm.submitted">
                            شماره همراه نامعتبر است
                        </p>
                        <p class="help-block" ng-show="form.mobile.$error.required && vm.submitted">
                            شماره همراه را وارد کنید
                        </p>
                        <p class="help-block" ng-show="form.mobile.$error.mongoose">
                            {{ vm.errors.mobile }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group"
                         ng-class="{ 'has-success': form.nationalCode.$valid && vm.submitted, 'has-error': form.nationalCode.$invalid && vm.submitted }">
                        <label>کد ملی</label>

                        <input name="nationalCode" class="form-control" ng-model="vm.user.nationalCode"
                               style="direction: ltr"
                               required
                               mongoose-error/>
                        <p class="help-block" ng-show="form.nationalCode.$error.nationalCode && vm.submitted">
                            کد ملی نامعتبر است
                        </p>
                        <p class="help-block" ng-show="form.nationalCode.$error.required && vm.submitted">
                            کد ملی را وارد کنید
                        </p>
                        <p class="help-block" ng-show="form.nationalCode.$error.mongoose">
                            {{ vm.errors.nationalCode }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-success': form.plate.$valid && vm.submitted,
                                            'has-error': form.plate.$invalid && vm.submitted }">
                        <label>پلاک</label>
                        <input name="plate" class="form-control" ng-model="vm.user.plate"
                               style="direction: ltr" required/>
                        <p class="help-block" ng-show="form.plate.$error.required && vm.submitted">
                            پلاک را وارد کنید
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-success': form.accountNumber.$valid && vm.submitted,
                                            'has-error': form.accountNumber.$invalid && vm.submitted }">
                        <label>شماره حساب</label>

                        <input type="text" name="accountNumber" class="form-control" ng-model="vm.user.accountNumber"
                               style="direction: ltr"
                               required
                               mongoose-error/>
                        <p class="help-block" ng-show="form.accountNumber.$error.required && vm.submitted">
                            شماره حساب را وارد کنید
                        </p>
                        <p class="help-block" ng-show="form.accountNumber.$error.mongoose">
                            {{ vm.errors.accountNumber }}
                        </p>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
                        <label>رایانامه</label>

                        <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                               style="direction: ltr"
                               required
                               mongoose-error/>
                        <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
                            رایانامه نامعتبر است
                        </p>
                        <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
                            رایانامه را وارد کنید
                        </p>
                        <p class="help-block" ng-show="form.email.$error.mongoose">
                            {{ vm.errors.email }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <div class="thumbnail">
                        <img ng-show="vm.user.photos[0]" ngf-thumbnail="vm.user.photos[0]" alt="driver-profile-picture">
                        <img ng-hide="vm.user.photos[0]" ng-src="/assets/images/default_user.jpg"
                             alt="default-profile-picture">
                        <div class="caption">
                            <p class="small text-info">اسکن تصویر <span style="direction: ltr">3*4</span> متقاضی را وارد
                                کنید</p>
                            <div>
                                <div class="btn btn-primary btn-sm" ngf-select ng-model="vm.user.photos[0]"
                                     name="photos"
                                     ngf-pattern="'image/jpg'" ngf-accept="'image/jpg'"
                                     ngf-max-size="2MB" ngf-min-height="100" ngf-resize="{width: 200, height: 300}">
                                    انتخاب
                                </div>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="vm.user.photos[0] = null">
                                    حذف
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="thumbnail">
                        <img ng-show="vm.user.photos[1]" ngf-thumbnail="vm.user.photos[1]" alt="driver-profile-picture">
                        <img ng-hide="vm.user.photos[1]" ng-src="/assets/images/default_user.jpg"
                             alt="default-profile-picture">
                        <div class="caption">
                            <p class="small text-info">اسکن تصویر <span style="direction: ltr">3*4</span> متقاضی را وارد
                                کنید</p>
                            <div>
                                <div class="btn btn-primary btn-sm" ngf-select ng-model="vm.user.photos[1]"
                                     name="photos"
                                     ngf-pattern="'image/jpg'" ngf-accept="'image/jpg'"
                                     ngf-max-size="2MB" ngf-min-height="100" ngf-resize="{width: 200, height: 300}">
                                    انتخاب
                                </div>
                                <button type="button" class="btn btn-danger btn-sm" ng-click="vm.user.photos[1] = null">
                                    حذف
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-lg btn-register">ثبت</button>
                </div>
            </div>
        </form>
    </div>
</div>